body {
    font-family: 'Arimo', sans-serif;
    min-width: 800px;
    max-width: 1200px;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    text-transform: uppercase;
    text-align: center;
    color: #484848;
    border-top: 24px solid;
    border-left: 22px solid;
    border-right: 30px solid;
    border-bottom: 32px solid;
    border-color: #3a4965;
}

table td {
    border-right: solid 2px #e3e3e3;
    box-sizing: border-box;
    padding: 25px;
}

thead {
    font-size: 25px;
    font-weight: bold;
}

.text,
.price {
    background-color: #fafafa;
}

.choose {
    font-size: 18px;
}

.prising {
    font-size: 30px;
    font-weight: bold;
}

.green {
    background-color: #89c331;
    color: white;
}

.red {
    background-color: #f04a56;
    color: white;
}

.blue {
    background-color: #20807c;
    color: white;
}

.container {
    display: flex;
    align-items: center;
}

.big-price {
    font-size: 60px;
}

.small-price {
    font-size: 20px;
    text-align: left;
}

.one,
.three,
.five,
.seven {
    background-color: #f2f2f2;
}

.two,
.four,
.six {
    background-color: #e3e3e3;
}

.grey-b {
    background-color: #484848;
    box-shadow: #404040 0px 5px;
    color: white;
    width: 192px;
    border-radius: 7%;
    padding-top: 19px;
    padding-bottom: 17px;
    margin-left: 19px;
}

.green-b {
    background-color: #89c331;
    box-shadow: #79b027 0px 5px;
    color: white;
    width: 192px;
    border-radius: 7%;
    padding-top: 19px;
    padding-bottom: 17px;
    margin-left: 19px;
}

.red-b {
    background-color: #f04a56;
    box-shadow: #df3a46 0px 5px;
    color: white;
    width: 192px;
    border-radius: 7%;
    padding-top: 19px;
    padding-bottom: 17px;
    margin-left: 19px;
}

.blue-b {
    background-color: #20807c;
    box-shadow: #16736f 0px 5px;
    color: white;
    width: 192px;
    border-radius: 7%;
    padding-top: 19px;
    padding-bottom: 17px;
    margin-left: 19px;
}

.decoration {
    text-decoration: none;
    color: white;
}

.storage:before {
    content: url(../img/1@1X.png);
    position: relative;
    right: 14px;
    top: 3px;
}

.bandwidth:before {
    content: url(../img/2@1X.png);
    position: relative;
    right: 14px;
    top: 3px;
}

.email:before {
    content: url(../img/3@1X.png);
    position: relative;
    right: 14px;
    top: 3px;
}

.support:before {
    content: url(../img/4@1X.png);
    position: relative;
    right: 14px;
    top: 5px;
}

.products:before {
    content: url(../img/5@1X.png);
    position: relative;
    right: 14px;
    top: 7px;
}

.users:before {
    content: url(../img/6@1X.png);
    position: relative;
    right: 14px;
    top: 7px;
}

.seven td:hover {
    background-color: #dddddd;
}