.shopping_container {
	position: fixed;
	width: 90%;
	margin: 0 auto;
	height: 70%;  
	z-index:99999999; 
	background-color: #ECEBE9; 
	border: 3px #3F3F3F solid;
}

.shopping_basket {
	text-align: center;
	margin-top: 3%;
	font-size: 36px;
    font-weight: bold;
}

.shopping_content {
	margin-left: 3%;
	margin-top: 3%;
	width: 90%;
	margin: 0 auto;
	display: flex;
}

.shopping_content tbody {
	width: 90%;
}

.shopping_name {
	margin-bottom: 10%;
	font-weight: bold;
	margin-right: 3%;
	padding-top: 5%;
	width: 80%;
}

.shopping_price {
	margin-bottom: 10%;
	font-weight: bold;
	margin-right: 3%;
	padding-top: 5%;
}

.shopping__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 3%;
	height: 5%;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	cursor: pointer;
}