.header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    border-bottom: 2px black solid;
}

.header_info a{
     text-decoration: none;
     color: #3F3F3F;
     font-size: 16px;
}

.header_info a img{
    padding-right: 3px;
}

.number a{
    font-weight: bold;
}

.header_adress a {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 85px;
    text-decoration: none;
}


.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    border-bottom: 1px white solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #3F3F3F;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.banner {
    background-image: url('../image/main_banner_background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
}

.chandelier {
    margin-left: 12%;
}

.banner_info span{
   font-size: 36px;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   margin-left: 12%;
}

.banner_button {
    display: flex;
    margin-left: 12%;
    margin-top: 3%;
}

.banner_button button{
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 100%;
    height: 70px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px white solid;
}

.banner_button button:hover{
    background-color: white;
    transition: .5s;
    color: black;
}

.banner_btn_2 {
    margin-left: 40px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content div{
    margin-top: 100px;
}

.content_content span{
    font-size: 20px;
}

.content_content button{
    background-color: Transparent;
    background-repeat:no-repeat;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #3F3F3F;;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px #3F3F3F solid;
    margin-top: 40px;
}

.content_content button:hover{
    background-color:#3F3F3F;
    transition: .5s;
    color: white;
}

.suggestions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
}

.suggestions img {
    padding-right: 3px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.line_1, .line_2 {
    display: flex; 
    margin-top: 5%;
}

.line_1 a:hover, .line_2 a:hover {
    color: #3F3F3F;
    transition: .5s;
}

.card_1 {
    background-image: url('../image/popular_categories_chandelier.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;
    height: 235px;
    margin-right: 70px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.card_2{
    background-image: url('../image/popular_categories_table_lamp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;
    height: 235px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.card_3{
    background-image: url('../image/popular_categories_pendant_lamp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 497px;
    height: 235px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.card_4{
    background-image: url('../image/popular_categories_bra.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;
    height: 235px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.card_5{
    background-image: url('../image/popular_categories_reading_lamp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 500px;
    height: 235px;
    margin-right: 70px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.card_6{
    background-image: url('../image/popular_categoreis_torsher.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 497px;
    height: 235px;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
}

.popular_categories, .choise_of_buyers, .selection_designer {
    margin: 0 auto;
    max-width: 86%;
}

.popular_text, .choise_text, .selection_designer_text {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #3F3F3F;
    margin-top: 4%;
    border-bottom: 3px #3F3F3F solid; 
}

.slider {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 86%; 
}

.slider div{
    
    margin: 0 auto; 
}

.slider_card_1, .slider_card_2, .slider_card_3, .slider_card_4, .slider_card_5, .slider_card_6 {
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    color: #3F3F3F;
    font-weight: bold;
    margin: 0 auto;
}

.slider div a:hover {
    background-color: #ECEBE9;
    transition: .5s;
    color: #3F3F3F;
}

.slider .slick-arrow.slick-prev{
    background-image: url('../image/slider_button_prev.png');
    background-repeat: no-repeat;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    margin-right: 10px;
    
}

.slider .slick-arrow.slick-next{
    background-image: url('../image/slder_button_next.png');
    background-repeat: no-repeat;
    font-size: 0;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    margin-left: 10px;
    
}

.sel_des_text {
    margin-top: 10px;
}

.selection_designer_form {
    margin-top: 60px;
    margin-left: 135px;
    width: 86%;
    display: flex;
    justify-content: space-evenly;
}

.form_input {
   background-color:#EEEEEE;
   background-repeat:no-repeat;
   width: 100%;
   padding-top: 7%;
   padding-bottom: 7%;
   color: white;
   font-size: 18px;
    font-weight: bold;
    border-radius: 0%;
    
}

.form_button {
    margin-top: 4%;
    background-color: #3F3F3F;
    background-repeat:no-repeat;
    width: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0%;
    border: 3px #3F3F3F solid;

}

.footer_form_button:hover, .form_button:hover {
   background-color: #3F3F3F;
   border: 3px #3F3F3F solid;
}

.form_placeholder, .sel_des_text {
    font-size: 12px;
    text-transform: uppercase;
    color: #3F3F3F;  
}

footer {
    background-color: black;
    height: 767px;
}

.footer_logo {
    padding-top: 38px;
    display: flex; 
    justify-content: center;
}

.footer_content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    
}

.footer_tel {
    background-image: url('../image/footer_phone_img.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

.footer_work_time {
    background-image: url('../image/footer_clock_circle.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

.footer_adress {
    background-image: url('../image/footer_adress.png');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
}

.inform, .contacts, .footer_form {
    font-size: 18px;
    color:  #B3B3B3;
    
}

.inform span, .contacts span, .footer_form span {
    color:#B3B3B3;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px #B3B3B3 solid;
   
}

.inform a, .contacts a, .footer_form a {
    text-decoration: none;
    color: #B3B3B3;
}

.inform a:hover, .contacts a:hover {
    border-bottom: 1px #B3B3B3 solid;
}

.footer_form {
    margin-top: 35px;
}

.footer_form_placeholder {
    font-size: 12px;
    text-transform: uppercase;
    color: #B3B3B3;
}

.footer_form_input {
    background-color: #3F3F3F;;
    background-repeat:no-repeat;
    width: 320px;
    height: 70px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0%;
}

.footer_form_button {
    background-color: #3F3F3F;
    background-repeat:no-repeat;
    width: 320px;
    height: 70px;
    color: #B3B3B3;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0%;
    border: 3px #3F3F3F solid;
    
}

.contacts, .inform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer_text {
    margin-top: 45px;
    margin-left: 135px;
    margin-right: 135px;
    border-top: 2px #B3B3B3 solid;
    color: #B3B3B3;
    font-size: 12px;
    padding-top: 20px;
}