.header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
}

.header_info a{
     text-decoration: none;
     color: #3F3F3F;
     font-size: 16px;
}

.header_info a img{
    padding-right: 3px;
}

.header_adress a {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.number a{
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 85px;
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    border-bottom: 1px white solid;
}

.cooperation {
    border-bottom: 1px white solid;
}

.cooperation:hover {
    border-bottom: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 120%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #3F3F3F;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    width: 86%;
    margin: 0 auto;
}

.content_banner {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    color: white;
    background-image: url('../image/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.content_banner ul {
    padding-left: 4%;
    padding-top: 4%;
}

.content_banner li {
    font-size: 24px;
    margin-left: 2%;
}

.banner_btn {
   color: white;
   font-weight: bold;
   font-size: 20px;
   text-transform: uppercase;
   background-color: transparent;
   border: 2px white solid;
   margin-left: 4%;
   margin-bottom: 5%;
   padding: 1% 4%;
}

.content_text {
   font-size: 18px;
   color: #3F3F3F;
   margin-top: 5%;
}

.content_form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #3F3F3F; 
}

.form {
    width: 50%;
    box-shadow: 3px 0px 55px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    padding: 4%;
}

.form_input {
    background-color:#EEEEEE;
    background-repeat:no-repeat;
    height: 70px;
    color: white;
    border-radius: 0%; 
    margin-top: 2%;
}
 
 .form_button {
     margin-top: 20px;
     background-color: #3F3F3F;
     background-repeat:no-repeat;
     width: 320px;
     height: 70px;
     color: white;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 0%;
     border: 3px #3F3F3F solid;
}

.form_placeholder {
    font-weight: normal;
    font-size: 16px;
}

.footer_form_button:hover, .form_button:hover {
    background-color: #3F3F3F;
    border: 3px #3F3F3F solid;
 }
 
 .form_placeholder, .sel_des_text {
     font-size: 12px;
     text-transform: uppercase;
     color: #3F3F3F;  
 }
 
 footer {
     background-color: black;
     height: 767px;
 }
 
 .footer_logo {
     padding-top: 38px;
     display: flex; 
     justify-content: center;
 }
 
 .footer_content {
     display: flex;
     justify-content: space-evenly;
     margin-top: 20px;
     
 }
 
 .footer_tel {
     background-image: url('../image/footer_phone_img.png');
     background-repeat: no-repeat;
     background-position: left;
     padding-left: 25px;
 }
 
 .footer_work_time {
     background-image: url('../image/footer_clock_circle.png');
     background-repeat: no-repeat;
     background-position: left;
     padding-left: 25px;
 }
 
 .footer_adress {
     background-image: url('../image/footer_adress.png');
     background-repeat: no-repeat;
     background-position: left;
     padding-left: 25px;
 }
 
 .inform, .contacts, .footer_form {
     font-size: 18px;
     color:  #B3B3B3;
     
 }
 
 .inform span, .contacts span, .footer_form span {
     color:#B3B3B3;
     font-size: 20px;
     font-weight: bold;
     text-transform: uppercase;
     border-bottom: 2px #B3B3B3 solid;
    
 }
 
 .inform a, .contacts a, .footer_form a {
     text-decoration: none;
     color: #B3B3B3;
 }
 
 .inform a:hover, .contacts a:hover {
     border-bottom: 1px #B3B3B3 solid;
 }
 
 .footer_form {
     margin-top: 35px;
 }
 
 .footer_form_placeholder {
     font-size: 12px;
     text-transform: uppercase;
     color: #B3B3B3;
 }
 
 .footer_form_input {
     background-color: #3F3F3F;;
     background-repeat:no-repeat;
     width: 320px;
     height: 70px;
     color: white;
     font-size: 18px;
     font-weight: bold;
     border-radius: 0%;
 }
 
 .footer_form_button {
     background-color: #3F3F3F;
     background-repeat:no-repeat;
     width: 320px;
     height: 70px;
     color: #B3B3B3;
     font-size: 18px;
     font-weight: bold;
     text-transform: uppercase;
     border-radius: 0%;
     border: 3px #3F3F3F solid;
     
 }
 
 .contacts, .inform {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: baseline;
 }
 
 .footer_text {
     margin-top: 45px;
     margin-left: 135px;
     margin-right: 135px;
     border-top: 2px #B3B3B3 solid;
     color: #B3B3B3;
     font-size: 12px;
     padding-top: 20px;
 }