.header_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    border-bottom: 2px black solid;
}

.header_info a{
     text-decoration: none;
     color: #3F3F3F;
     font-size: 16px;
}

.header_info a img{
    padding-right: 3px;
}

.number a{
    font-weight: bold;
}

.header_adress a {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.header {
    border-bottom: 3px black solid;
}

.assortment_card {
    display: flex;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 2%;
    color: #3F3F3F;
    font-weight: bold;
}

.cards {
    display: flex;
    align-items: baseline;
    text-align: center;
    flex-wrap: wrap;
}

.line_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}

.content_btn {
    margin-top: 75px;
    background-color: #3F3F3F;
    background-repeat:no-repeat;
    width: 60%;
    height: 70px;
    color: #ECEBE9;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px #3F3F3F solid;
    border-radius: 0;
    margin-bottom: 60px;
}

.content_btn:hover {
    background-color: white;
    transition: .5s;
    color: black;
}

.content_btn_active{
    background-color: white;
    transition: .5s;
    color: black;
}