<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRASIVO SVETIM</title>
    <link rel="icon" type="image/png" href="../Categoreis/image/icon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="header_info" id="header_info">
            <div class="working_day"><span>Пн - Сб 10:00-20:00</span><br><span>Вс 10:00-19:00</span></div>
            <div class="number"> <a href="tel:+384951499495"><img
                        src="./image/header_phone_image.png">(495)149-94-95</a></div>
            <div class="logo"><a href="../index.html"><img src="./image/header_logo_page.png"></a></div>
            <div class="header_adress"><a
                    href="https://www.google.com.ua/maps/place/%D0%9C%D0%B0%D0%B9%D0%B4%D0%B0%D0%BD+%D0%9D%D0%B5%D0%B7%D0%B0%D0%BB%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8/@50.4497032,30.5241191,18.75z/data=!4m5!3m4!1s0x40d4ce50ffa1b91f:0x42d5962fe7e791c!8m2!3d50.4503005!4d30.5238715?hl=ru"
                    target="_blank">
                    <div><img src="./image/header_store_image.png"></div>г. Киев,<br> Майдан Независимости<br>
                </a>
            </div>
            <div class="basket" id="basket" onclick="basketPage.handlerOpenShoppingPage();"></div>
        </div>
    </header>

    <main>
        <div class="text">Заказать Потолочные светильники можно <a href="../inner_light/index.html">тут</a></div>
        <div class="goods" id="bra"></div>
    </main>

    <script src="../../components/root.js"></script>

    <script src="./details_of_goods/index.js"></script>

    <script src="../../components/localStorageUtil.js"></script>

    <script src="./ceiling_lamp.js"></script>
    <link rel="stylesheet" href="./categories.css">

    <script src="../components/Basket/basket.js"></script>
    <link rel="stylesheet" href="../components/Basket/basket.css">

</body>

</html>