    html {
        width: 1366px;
    }
    
    body {
        background-image: url('../img/background@1X.png');
        background-repeat: no-repeat;
        background-size: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 1366px;
        height: 768px;
        margin: 0;
    }
    
    body:after {
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, .7);
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
    
    .header-inf {
        display: flex;
    }
    
    .logo {
        display: flex;
        margin-top: 35px;
        margin-left: 155px;
    }
    
    .logotip {
        color: white;
        text-decoration: none;
        background-image: url(../img/logo@1X.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    
    .logotip:hover {
        color: #f26522;
        background-image: url(../img/logo@1Xhover.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    
    .milan {
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 3px;
        padding-left: 55px;
    }
    
    .holidays {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0px;
        padding-left: 55px;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        white-space: pre;
        margin-top: 40px;
        margin-left: 636px;
    }
    
    .contact a:hover {
        color: #f26522;
    }
    
    .contact a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    
    .line1 {
        display: flex;
        width: 1366px;
        height: 290px;
    }
    
    .line2 {
        display: flex;
        width: 1366px;
        height: 290px;
    }
    
    .item1 {
        width: 307px;
        margin-left: 157px;
        margin-top: 48px;
    }
    
    .item2 {
        width: 307px;
        margin-left: 60px;
        margin-top: 48px;
    }
    
    .item3 {
        width: 307px;
        margin-left: 60px;
        margin-top: 48px;
    }
    
    .item4 {
        width: 307px;
        margin-left: 157px;
        margin-top: 51px;
    }
    
    .item5 {
        width: 307px;
        margin-left: 60px;
        margin-top: 51px;
    }
    
    .item6 {
        width: 307px;
        margin-left: 60px;
        margin-top: 51px;
    }
    
    .image1 {
        background-image: url(../img/Layer\ 21@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .image2 {
        background-image: url(../img/Layer\ 22@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .image3 {
        background-image: url(../img/Layer\ 23@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .image4 {
        background-image: url(../img/Layer\ 24@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .image5 {
        background-image: url(../img/Layer\ 26@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .image6 {
        background-image: url(../img/Layer\ 25@1X.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 200px;
        position: relative;
    }
    
    .content {
        opacity: 0;
        box-sizing: border-box;
        display: inline-block;
        position: absolute;
        margin-top: 146px;
        width: 307px;
        background-color: #f26522;
        padding: 10px 20px;
        font-size: 10px;
        color: white;
        transition: all 0.5s ease;
    }
    
    .item1:hover .content {
        opacity: 1;
    }
    
    .item2:hover .content {
        opacity: 1;
    }
    
    .item3:hover .content {
        opacity: 1;
    }
    
    .item4:hover .content {
        opacity: 1;
    }
    
    .item5:hover .content {
        opacity: 1;
    }
    
    .item6:hover .content {
        opacity: 1;
    }
    
    .price {
        font-size: 18px;
    }
    
    .text1 {
        position: absolute;
        padding-top: 220px;
        padding-left: 87px;
        padding-right: 81px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text2 {
        position: absolute;
        padding-top: 220px;
        padding-left: 87px;
        padding-right: 60px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text3 {
        position: absolute;
        padding-top: 220px;
        padding-left: 100px;
        padding-right: 109px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text4 {
        position: absolute;
        padding-top: 220px;
        padding-left: 87px;
        padding-right: 80px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text5 {
        position: absolute;
        padding-top: 220px;
        padding-left: 75px;
        padding-right: 70px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text6 {
        position: absolute;
        padding-top: 220px;
        padding-left: 89px;
        padding-right: 92px;
        width: max-content;
        color: white;
        font-size: 18px;
        text-align: center;
    }
    
    .text1:hover {
        color: #f26522;
    }
    
    .text2:hover {
        color: #f26522;
    }
    
    .text3:hover {
        color: #f26522;
    }
    
    .text4:hover {
        color: #f26522;
    }
    
    .text5:hover {
        color: #f26522;
    }
    
    .text6:hover {
        color: #f26522;
    }
    
    .details {
        position: absolute;
        right: 15px;
        bottom: 10px;
        font-size: 14px;
    }
    
    .details::after {
        content: ' >';
    }
    
    .footer {
        font-size: 12px;
        text-align: center;
        color: white;
        margin-top: 61px;
    }