header {
    background: rgba(0, 0, 0, 0.3);
    background-image: url("../images/header-background.webp");
    background-size: cover; 
    background-repeat: no-repeat;
}

.navigation {
    display: flex;
    width: 100%;
}

.header-logo {
    width: 55%;  
}


.header-logo img {
    background-image: url('../images/nav-background1.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 2%;
}

.nav {
    width: 45%;
    font-size: 10px;
    display: flex;
    background-image: url('../images/nav-background2.webp');
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.nav a {
    color: #715D00;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration: none;
    margin-left: 10%;
}

.nav a:hover {
    border-bottom: 1px #715D00 solid;
}

.big-center-text {
    color: #F9E994;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
}
    
.header-content-image img {
    width: 100%;
}

.header-content-texts {
    display: flex;
    flex-direction: column;
}

.whitetext {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.blue-background {
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: #7FB3E1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}

.blue-background div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 1%;
}

.timer {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 10px 10px;
    background-color: white;
    margin-bottom: 3%;
}

.time {
    color: #F6E791;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.timer-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/Rectangle\ 12.webp');
    background-repeat: no-repeat;
    background-size: 103%;
    background-position: top;
    
}

.time-left {
    font-weight: bold;
    font-size: 22px;
    color: #483C08;
    margin-top: 6%;
    margin-bottom: 2%;
}

.price {
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-sale {
    font-weight: bold;
    font-size: 20px;
    color: #6B6B6B;
    position: relative;
    width: 40%;
}

.no-sale:before {
	content: "";
	border-bottom: 2px solid #F6BE91;
	position: absolute;
	width: 130%;
	height: 60%;
	transform: rotate(-20deg);
}

.sale {
    font-weight: bold;
    font-size: 22px;
    color: #483C08;
    width: 40%;
}

.timer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-name, .form-phone, .form-button{
    background-color: #F3EFEF;
    border-radius: 30px;
    border: none;
    width: 180px;
    height: 40px;
    margin-bottom: 5%;
}

.form-name:active, .form-phone:active, .form-button:active {
    border: none;
}

.form-name {
    margin-top: 3%;
}

.form-button{
   background-color: #A1D337;
   color: white;  
   font-weight: bold;
   font-size: 20px;
   margin-top: 3%;
}

.data {
    color: #444444;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 3%;
}

input {
    background-image: url('../images/cats-form.webp');
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 30px;
    font-size: 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

main {
    background-image: url('../images/main-background.webp');
    background-size: cover;
}

.main-text {
   color: #537D13;
   margin-top: 7%;
   text-align: center;
   font-weight: bold;
   font-size: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.card {
    background-color: #F6E791;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: 100%;
}

.card img {
    width: 50%;
}

.cards-content {
    background-color: rgba(161, 211, 55, 0.4);
    border-radius: 20px;
    margin: 5%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-text {
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: bold;
    padding: 3%;
}

.bottom-text {
    padding: 3%;
    text-align: center;
}

footer {
    background-image: url('../images/footer-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #537D13;
    padding: 2%;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}

.footer-content-text {
    padding: 2% 7%;
}

.footer-content img {
    margin-bottom: 10%;
}



@media  (min-width: 540px) {
    .nav{
       font-size: 15px;
    }
    .header-content {
       flex-wrap: wrap;
       flex-direction: row;
    }
    .header-content-texts{
       width: 50%;
    }  
}

@media (min-width: 720px) {
    .big-center-text{
        font-size: 35px;
    }
    .cards {
        flex-direction: row;
    }
    .card {
        background-color: #F6E791;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        margin: 2%;
    }
    .footer-content {
      flex-direction: row;
    }
}

@media (min-width: 960px) {
    .navigation {
        justify-content: space-around;
    }
    .header-logo {
        width: auto;
        margin-top: 2%;
    }
    .nav {
        margin-top: 2%;
        font-size: 20px;
        padding: 4%;  
    }
    .header-content {
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .header-content-texts {
        order: 1;
        width: 35%;
    }
    .header-content-image {
        order: 2;
        width: 40%;
    }
    .timer {
        order: 3;
       
    }
    .big-center-text, .main-text, .footer-text {
        font-size: 52px;
    }  
}

@media (min-width: 1140px) {
    .header-content {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 3%;
        justify-content: center;
    }
    .header-content-texts {width: 400px;}
    .header-content-image {width: 400px;}
    .timer {
        width: 200px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px 20px 10px 10px;
        background-color: white;
        margin-bottom: 3%;
        margin: 0;
    }
    .footer-content-text {
        background-image: url('../images/Rectangle\ 11.webp');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
