html {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #354657;
}

.container {
    margin: 0 auto;
    width: 85%;
}

.banner {
    background-image: url("../img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1\ \(1\).png");
    background-size: cover;
    height: 600px;
    color: white;
}

.banner__content {
    padding-top: 100px;
    animation: animationbanner 2s linear 1;
}

.banner__content-title {
    font-weight: 900;
    font-size: 2.4rem;
    margin-bottom: 30px;
    line-height: 55px;
}

.banner__content-subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.btn {
    background-color: #946FD3;
    border-radius: 50px;
    border-color: #946FD3;
    font-weight: bold;
}

.btn:hover {
    background-color: #946FD3;
    border-color: #946FD3;
}

.btn:active {
    background-color: #946FD3;
    border-color: #946FD3;
}

.banner__center {
    background: #F0E5FF;
    padding-top: 135px;
    padding-bottom: 135px;
}

.banner__content-image :nth-child(1) {
    position: relative;
    -webkit-animation: banner__content-image1 5s linear infinite;
    animation: banner__content-image1 5s linear infinite;
}

.banner__content-image :nth-child(2) {
    position: relative;
    left: -10%;
    -webkit-animation: banner__content-image2 5s linear infinite;
    animation: banner__content-image2 5s linear infinite;
}

.banner__content-gen {
    display: flex;
    flex-direction: row;
}

.banner__content-text {
    margin-left: 70px;
    margin-top: 40px;
    color: #354657;
}

.banner__center-subtitle {
    color: #946FD3;
    font-size: 20px;
    text-transform: uppercase;
}

.banner__center-title {
    font-size: 38px;
    font-weight: bold;
    line-height: 45px;
}

.banner__center-button {
    margin-top: 18px;
}

.useful_materials {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #354657;
    margin-top: 109px;
}

.cards {
    display: flex;
    margin-top: 50px;
    color: #354657;
}

.text_bold {
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

.text_small {
    font-size: 16px;
    padding: 0 20px;
}

.cards_btn {
    padding: 30px 20px;
}

.card_1 {
    margin-left: 310px;
    margin-right: 25px;
}

.card_3 {
    margin-left: 25px;
}

.card_1:hover {
    background-color: #946FD3;
    color: white;
    transition: all .4s;
    animation: cardanimation 2s ease;
}

.card_2:hover {
    background-color: #946FD3;
    color: white;
    transition: all .4s;
    animation: cardanimation 2s ease;
}

.card_3:hover {
    background-color: #946FD3;
    color: white;
    transition: all .4s;
    animation: cardanimation 2s ease;
}

.card_1:hover .button {
    text-decoration: none;
    color: white;
    background-color: #946FD3;
    border-color: white;
}

.card_2:hover .button {
    text-decoration: none;
    color: white;
    background-color: #946FD3;
    border-color: white;
}

.card_3:hover .button {
    text-decoration: none;
    color: white;
    background-color: #946FD3;
    border-color: white;
}

.button {
    background-color: white;
    border-radius: 50px;
    border: 2px solid #946FD3;
    padding: 10px;
    text-decoration: none;
    color: #946FD3;
    font-weight: bold;
}

@keyframes animationbanner {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0) rotate(360deg)
    }
}

@media screen and (max-width: 800px) {
    .banner {
        display: none;
    }
}

@keyframes banner__content-image1 {
    from {
        transform: rotateZ(0)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@-webkit-keyframes banner__content-image1 {
    from {
        -webkit-transform: rotateZ(0)
    }
    to {
        -webkit-transform: rotateZ(360deg)
    }
}

@keyframes banner__content-image2 {
    from {
        transform: rotateZ(360deg)
    }
    to {
        transform: rotateZ(0)
    }
}

@-webkit-keyframes banner__content-image2 {
    from {
        -webkit-transform: rotateZ(360deg)
    }
    to {
        -webkit-transform: rotateZ(0)
    }
}

@keyframes cardanimation {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}