html {
    font-family: 'Raleway', sans-serif;
    color: #354657;
    font-size: 20px;
}

h2 {
    margin-left: 316px;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 316px;
    border-top: 1px solid #E2E2E2;
    width: 1288px;
}

.left_menu {
    font-size: 20px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
}

.text {
    font-weight: bold;
    padding-bottom: 20px;
}

.text2 {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
    padding: 20px;
}

.radio {
    font-size: 16px;
}

input[type="radio"]:checked:before {
    content: "";
    display: block;
    position: relative;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #946FD3;
}

.right_menu {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 40px;
    width: 874px;
    display: inline-block;
    vertical-align: top;
}

.enter {
    background-color: #F0F2F5;
    width: 384px;
    padding: 20px;
}

.data {
    margin-top: 30px;
    background-color: #F0F2F5;
    width: 384px;
    padding: 20px;
}

.data_info {
    font-size: 14px;
    padding: 20px;
}

.data input {
    padding: 11px 20px;
    box-sizing: border-box;
    width: 344px;
    border-color: #FFFFFF;
    margin-top: 20px;
}

::placeholder {
    color: #ADA8A8;
    font-size: 14px;
}

.table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: center;
    width: 874px;
}

.header_table {
    background-color: #F0F2F5;
    text-transform: uppercase;
}

.header_table th {
    padding: 20px;
}

.body_table {
    height: 99px;
}

.body_table input {
    width: 46.47px;
    height: 32.7px;
    border: 2px solid #E9E9E9;
    border-radius: 3px;
}

.body_table form {
    display: inline-block;
}

.button1 {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.button2 {
    display: inline-block;
    text-align: center;
    padding: 3px;
}

.button1 a {
    background-color: #946fd3;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 15%;
    position: relative;
}

.button2 a {
    background-color: #F83737;
    display: inline-block;
    width: 33px;
    height: 33px;
    border-radius: 15%;
}

.img1 {
    position: relative;
    left: 8px;
    top: 2px;
}

.img2 {
    position: relative;
    top: 10px;
    right: 7px;
}

.img3 {
    position: relative;
    top: 7px;
}

.delivery {
    background-color: #F0F2F5;
    padding: 20px;
}

.pay {
    background-color: #F0F2F5;
    padding: 20px;
    margin-top: 30px;
}

.basket {
    font-weight: bold;
    padding-bottom: 20px;
    margin-top: 30px;
}

.comment {
    background-color: #F0F2F5;
    padding: 20px;
    width: 834px;
    margin-top: 30px;
}

.textarea input {
    resize: none;
    width: 790px;
    height: 86px;
    border-color: #FFFFFF;
    padding: 11px 20px;
    text-align: left;
}

.data_processing {
    padding-top: 16px;
}

.body_table td {
    width: 874px;
}

summary::marker {
    color: #F0F2F5;
    ;
}

.textarea {
    padding-bottom: 16px;
    padding-top: 10px;
}

.button3 {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    background-color: white;
    color: #946FD3;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 630px;
}

.button3:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
    transition: all .2s;
}