    body {
        width: 1480px;
        height: 1282px;
        margin: 0px;
    }
    
    .logo {
        margin-top: 61px;
        margin-left: 101px;
    }
    
    .top-menu {
        width: 1280px;
        height: 69px;
        margin-top: 45px;
        margin-left: 101px;
        background: #35444f;
    }
    
    .top-menu ul {
        display: table;
        width: 100%;
        padding-left: 0px;
    }
    
    .top-menu li {
        display: table-cell;
        position: relative;
    }
    
    .top-menu li:hover {
        background-color: #222f3a;
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: #818181;
    }
    
    .a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .fp {
        text-align: center;
        padding-top: 26px;
    }
    
    .ra {
        width: 150px;
        height: 69px;
        text-align: center;
    }
    
    .fl {
        text-align: center;
    }
    
    .container {
        display: flex;
    }
    
    .left-menu {
        width: 344px;
        height: 399px;
        margin-top: 51px;
        margin-left: 101px;
    }
    
    .left-menu ul {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        text-indent: 30px;
        margin-block: 0px;
        border: #35444f 1px solid;
    }
    
    .left-menu li {
        height: 81px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-indent: 30px;
    }
    
    .left-menu li:hover {
        background-color: #dbdbdb;
        text-indent: 65px;
    }
    
    .b {
        color: #495863;
        text-decoration: none;
    }
    
    .b:hover {
        color: black;
    }
    
    .top-logo {
        width: 885px;
        height: 529px;
        margin-top: 51px;
        margin-left: 52px;
        border: #35444f 1px solid;
    }
    
    .logo2 {
        margin-top: 75px;
        margin-left: 297px;
        margin-right: 268px;
        margin-bottom: 73px;
    }
    
    .text1 {
        width: 815px;
        height: 114px;
        margin-left: 526px;
        margin-top: 50px;
        font-size: 18px;
    }
    
    .text2 {
        width: 820px;
        height: 109px;
        margin-left: 526px;
        margin-top: 30px;
        font-size: 18px;
    }
    
    .foot-menu {
        display: flex;
        width: 1260px;
        height: 69px;
        margin-top: 45px;
        margin-left: 100px;
        background: #b4b7ba;
        padding-left: 0px;
        justify-content: flex-start;
        align-items: center;
    }
    
    .foot-menu ul {
        width: 100%;
        padding-left: 0px;
    }
    
    .foot-menu li {
        display: inline-block;
        position: relative;
        margin-left: 44px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .fu {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    
    .fu:hover {
        color: #3181a6;
        text-decoration: underline;
    }
    
    .copyright {
        font-size: 20px;
        align-self: center;
        margin-left: 240px;
    }