.assortment_card {
    display: flex;
}

.cards {
    display: flex;
    align-items: baseline;
    text-align: center;
    flex-wrap: wrap;
}

.line_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.content_btn {
    margin-top: 75px;
    background-color: #3F3F3F;
    background-repeat:no-repeat;
    width: 80%;
    height: 70px;
    color: #ECEBE9;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px #3F3F3F solid;
    border-radius: 0;
    margin-bottom: 60px;
}

.content_btn:hover {
    background-color: white;
    transition: .5s;
    color: black;
}

.content_btn_active{
    background-color: white;
    transition: .5s;
    color: black;
}
