body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
  color: #3E4056;
}

.synth__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  background-color: white;
  height: 145px;
}

.synth__header .synth__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 135px;
}

.synth__header .synth__navigation {
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 135px;
  width: 50%;
}

.synth__header .synth__navigation a {
  text-decoration: none;
  margin-right: 35px;
  color: #3E4056;
}

.synth__header .synth__navigation a:hover {
  font-weight: bold;
  border-bottom: 3px #E32C75 solid;
}

.synth__header .header__btn {
  position: relative;
  width: 64px;
  height: 64px;
  left: 85%;
  top: 2%;
  cursor: pointer;
  margin-right: 135px;
}

.synth__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 135px;
  margin-right: 135px;
  width: 80%;
}

.synth__main .clementine {
  margin-top: 72px;
  margin-right: 57px;
}

.synth__main .clementine .clementine__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.synth__main .clementine .clementine__photo .clementine__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.synth__main .clementine .clementine__photo .clementine__info .clementine__benjamin {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
}

.synth__main .clementine .clementine__photo .clementine__info .clementine__email a {
  text-decoration: none;
  color: #3E3F58;
}

.synth__main .clementine .clementine__photo .clementine__info .clementine__editprofile {
  margin-top: 16px;
}

.synth__main .clementine .clementine__photo .clementine__info .clementine__editprofile a {
  color: #F05D63;
  border-bottom: 1px #F05D63 solid;
  text-decoration: none;
}

.synth__main .clementine .clementine__photo .clementine__dropdown {
  margin-left: 25px;
}

.synth__main .clementine .clementine__photo .clementine__dropdown .dropbtn {
  font-size: 25px;
  border: none;
  cursor: pointer;
  line-height: 20%;
  font-weight: bold;
}

.synth__main .clementine .clementine__photo .clementine__dropdown .dropdown {
  position: relative;
  display: inline-block;
}

.synth__main .clementine .clementine__photo .clementine__dropdown .dropdown-content {
  display: none;
  text-align: center;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 15px;
  mix-blend-mode: normal;
  opacity: 0.94;
  -webkit-backdrop-filter: blur(21.7463px);
          backdrop-filter: blur(21.7463px);
}

.synth__main .clementine .clementine__photo .clementine__dropdown .dropdown-content a {
  color: #3E3F58;
  padding: 12px 16px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.synth__main .clementine .clementine__photo .clementine__dropdown .dropdown-content a:hover {
  background-color: #ddd;
}

.synth__main .clementine .clementine__photo .clementine__dropdown .show {
  display: block;
  border-radius: 8px;
}

.synth__main .clementine .clementine__follower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.synth__main .clementine .clementine__follower .clementine__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}

.synth__main .clementine .clementine__follower .clementine__elements span {
  font-weight: bold;
}

.synth__main .clementine .clementine__text {
  font-weight: bolder;
  line-height: 24px;
}

.synth__main .content {
  margin-top: 72px;
  width: 70%;
}

.synth__main .content .content__tumbler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #3E4056;
  width: 50%;
}

.synth__main .content .content__tumbler .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}

.synth__main .content .content__tumbler .switch .switch input {
  display: none;
}

.synth__main .content .content__tumbler .switch input {
  display: none;
}

.synth__main .content .content__tumbler .switch .slider.round {
  border-radius: 34px;
  width: 60px;
}

.synth__main .content .content__tumbler .switch .slider.round:before {
  border-radius: 50%;
}

.synth__main .content .content__tumbler .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #ccc;
}

.synth__main .content .content__tumbler .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.synth__main .content .content__tumbler .switch input:checked + .slider {
  background-color: #ED5267;
}

.synth__main .content .content__tumbler .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.synth__main .content .content__content {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 135px;
  width: 100%;
}

.synth__main .content .content__content .content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  width: 100%;
}

.synth__main .content .content__content .content__block .content__cards {
  background-color: #FFFFFF;
  border-radius: 8px;
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5%;
  width: 350px;
}

.synth__main .content .content__content .content__block .content__cards .content__text {
  margin: 24px;
  margin-top: 56px;
}

.synth__main .content .content__content .content__block .content__cards .content__smalltext {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  margin-top: 24px;
  height: 16px;
}

.synth__main .content .content__content .content__block .content__cards .content__smalltext span {
  background-color: #ECF1F8;
  border-radius: 6px;
}

.synth__main .content .content__content .content__block .content__cards .margin {
  margin-top: 10px;
}

.synth__main .content .content__content .content__block .content__cards .content__footer {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-left: 24px;
}

.synth__main .content .content__content .content__block .content__cards .content__footer .content__share {
  font-size: 18px;
  line-height: 25px;
  margin-left: 27%;
}

.synth__main .content .content__content .content__block .content__cards .content__footer .content__share a {
  text-decoration: none;
  color: #F05D63;
}

.synth__main .content .content__content .content__block .content__cards .content__footer .content__watkins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1260px) {
  .synth__header .synth__navigation {
    width: 38%;
  }
  .synth__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .synth__main .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin-top: 0;
  }
  .synth__main .content .content__tumbler {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .synth__main .content .content__content .content__block .content__cards {
    width: 500px;
  }
  .synth__main .clementine {
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 960px) {
  .synth__main .content {
    margin: 0 auto;
  }
  .synth__main .content .content__content {
    margin-top: 30px;
  }
  .synth__main .content .content__content .content__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .synth__main .content .content__content .content__block .content__cards {
    margin: 0 auto;
    margin-top: 4%;
    width: 400px;
  }
}

@media screen and (max-width: 850px) {
  .synth__header {
    height: 155px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .synth__header .synth__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 27px;
  }
  .synth__header .synth__navigation {
    margin: 0 auto;
    margin-top: 15px;
  }
  .synth__header .synth__navigation nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .synth__header .synth__navigation nav a {
    margin: 0;
  }
  .synth__header .header__btn {
    left: 40%;
  }
}

@media screen and (max-width: 580px) {
  .synth__header {
    margin: 0;
  }
  .synth__main {
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */