body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F2F2F2;
    color: #3E4056;
}


.synth__header {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
    background-color: white;
    height: 145px;
    
    .synth__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 135px;
    }
    
    .synth__navigation {
        line-height: 16px;
        text-transform: uppercase;
        margin-left: 135px;
        width: 50%;
       
        a { text-decoration: none;
            margin-right: 35px;
            color: #3E4056;  
        }
        
        a:hover {
            font-weight: bold;
            border-bottom: 3px #E32C75 solid;
        }
    }

    .header__btn {
        position: relative;
        width: 64px;
        height: 64px;
        left: 85%;
        top: 2%;
        cursor: pointer;
        margin-right: 135px;
    }
}

.synth__main {
    display: flex;
    margin-left: 135px;
    margin-right: 135px;
    width: 80%;
    
    .clementine {
        margin-top: 72px;
        margin-right: 57px;
        
        .clementine__photo {
            display: flex;
            
            .clementine__info {
               display: flex;
               flex-direction: column;
               margin-left: 25px;

                .clementine__benjamin {
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 8px;
                }

                .clementine__email a {
                    text-decoration: none;
                    color: #3E3F58;
                }

                .clementine__editprofile {
                    margin-top: 16px;
                
                    a {
                        color: #F05D63;
                        border-bottom: 1px #F05D63 solid;
                        text-decoration: none;
                    }
                }
            } 
            
            .clementine__dropdown {
                margin-left: 25px;
                
                .dropbtn {
                   
                    font-size: 25px;
                    border: none;
                    cursor: pointer;
                    line-height: 20%;
                    font-weight: bold;
                }
                
                .dropdown {
                    position: relative;
                    display: inline-block;
                }
                
                .dropdown-content {
                    display: none;
                    text-align: center;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    margin-top: 15px;
                    mix-blend-mode: normal;
                    opacity: 0.94;
                    backdrop-filter: blur(21.7463px);
                }
                
                .dropdown-content a {
                    color: #3E3F58;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 10px;

                }
                
                .dropdown-content a:hover {background-color: #ddd}
                
                .show {
                    display:block;
                    border-radius: 8px;
                }
            }
        }

        .clementine__follower {
            display: flex;
            margin-top: 32px;
            margin-bottom: 32px;

            .clementine__elements{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 48px;
                span {font-weight: bold;}
            }
        }

        .clementine__text {
            font-weight: bolder;
            line-height: 24px;
        }
    }

    .content {
        margin-top: 72px;
        width: 70%;

        .content__tumbler {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;
            color: #3E4056;
            width: 50%;
            
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                margin-left: 10px;
                margin-right: 10px;
                
                .switch input {display:none;}
                input {display: none;}
                .slider.round {border-radius: 34px; width: 60px;}
                .slider.round:before {
                border-radius: 50%;}
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: .4s;
                    background-color:  #ccc;
                }
              
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .4s;
                }
              
                input:checked + .slider {background-color: #ED5267;}
                input:checked + .slider:before {transform: translateX(26px);}

            }
            
        }

        .content__content { 
            margin-top: 65px;
            display: flex;
            align-items: baseline;
            flex-direction: column;
            margin-right: 135px;
            width: 100%;
        
            .content__block {
               display: flex;
               margin-bottom: 24px;
               width: 100%;
              
                .content__cards {
                   background-color:  #FFFFFF;
                   border-radius: 8px;
                   font-size: 36px;
                   line-height: 44px;
                   display: flex;
                   flex-direction: column;
                   margin-right: 5%;
                   width: 350px;
                
                    .content__text {
                       margin: 24px;
                       margin-top: 56px;
                    }

                    .content__smalltext {
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        margin-left: 25px;
                        margin-top: 24px;
                        height: 16px;

                        span {
                            background-color: #ECF1F8;
                            border-radius: 6px;
                        }
                    }

                    .margin {
                       margin-top: 10px;
                    }
                
                    .content__footer {
                       font-size: 14px;
                       line-height: 16px;
                       display: flex;
                       align-items: center;
                       height: 50px;
                       margin-left: 24px;
                    
                        .content__share {
                            font-size: 18px;
                            line-height: 25px;
                            margin-left: 27%;
                       
                            a {text-decoration: none;color: #F05D63;}
                        }

                        .content__watkins {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1260px ){
    .synth__header {
       .synth__navigation {
           width: 38%;
        }
    }
    
    .synth__main {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        
        .content {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin-top: 0;
           
            .content__tumbler{margin: 0 auto; justify-content: center;}
            .content__content{
               .content__block{
                    .content__cards {
                       width: 500px;
                    }
                }       
            }  
        }
         
        .clementine {
            margin: 0 auto;
            margin-top: 72px;
            margin-bottom: 35px;
        }
    }
}

@media screen and (max-width: 960px ){
    .synth__main {
        .content {
            margin: 0 auto;
            .content__content{
                margin-top: 30px;
               .content__block{
                   flex-direction: column;
                   align-items: center;
                   margin: 0 auto;
                   .content__cards{ margin: 0 auto; margin-top: 4%; width: 400px;}
               }
           }
        }
    }
}
    
@media screen  and (max-width:  850px ){
    .synth__header {
        height: 155px;
        align-items: center;

        .synth__logo {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 27px;
        }
        
        .synth__navigation {
            margin: 0 auto;
            margin-top: 15px;

            nav {
                display: flex;
                justify-content: space-around;
                a{margin: 0;}
            }
        }

        .header__btn {
           left: 40%;
        }
    }
}

@media screen and ( max-width: 580px ){
    .synth__header {margin:0}
    .synth__main{margin: 0;}
}