html {
    font-family: 'TT Hoves';
    font-weight: 300;
    font-style: normal;
}

body{margin: 0;}

header {
    width: 85%;
    margin: 0 auto;
    .top-logo {
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
        margin-bottom: 2%;
        .navbar {
            display: flex;
            align-items: center;
            width: 60%;
            a { 
                margin-right: 8%;
                font-size: 12px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #333333;
                text-decoration: none;
                padding: 0.3%;
                font-weight: normal;
            }
            a:hover {
                border-top: 1px #333333 solid;
                border-bottom: 1px #333333 solid;
            }
        }
    }
}

main {
    width: 85%;
    margin: 0 auto;
    .top-banner {
        display: flex;
        .top-banner-content {
            width: 40%;
            display: flex;
            flex-direction: column;
            .project {
                font-size: 64px;
                color: #BDBDBD;
                text-transform: uppercase;
                margin-top: 68%;
            }
            .home {
                font-weight: bold;
                font-size: 64px;
                color: #333333;
                text-transform: uppercase;
            }
            .buttons {
                margin-top: 15%;
                margin-bottom: 15%;
                .btn1{
                    margin-right: 3%;
                    padding: 3%;
                    border: 1px solid #F2F2F2;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
                .btn1:hover {background-color: #F9F9F9;}
                .btn2 {
                    cursor: pointer;
                    background-color: #F9F9F9;
                    border: 1px solid #F2F2F2;
                    padding: 3%;
                }
                .btn2:hover {background-color: #FFFFFF;}
            }
            .numbers {
                font-size: 24px;
                line-height: 24px;
                color: #BDBDBD;
                display: flex;
                align-items: center;
                span {
                    margin-right: 5%;
                }
            }
        }
        .top-banner-images {
            width: 60%;
            background-image: url('../image/top-banner.png');
            background-repeat: no-repeat;
            background-size: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .top-banner-btn {
                cursor: pointer;
                padding: 2.5% 6%;
                font-size: 12px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #333333;
                background-color: #FFFFFF;
                border: none;
                position: relative;
                margin-top: 100%;
                img {
                    width: auto;
                }
            }
            .top-banner-btn:hover {
                background-color: #F9F9F9;
                transition: 0.5s;
            }
        }
    }
    .about-company {
        display: flex;
        background-color: #FBFBFB;
        margin-top: 120px;
        padding: 2% 4%;
        justify-content: space-evenly;
        .two-image {
            margin-right: 2%;
            display: flex;
            flex-direction: column;
            position: sticky;
            .absolute-image {
                margin-top: 100%;
                position: absolute; 
            }
        }
        .one-image {
            margin-right: 2%;
        }
        .company-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .top-text {
                font-size: 64px;
                line-height: 64px;
                color: #BDBDBD;
                margin-bottom: 3%;
            }
            .center-text {
                font-size: 16px;
                line-height: 25px;
                color: #000000;
            }
            .company-content-btn {
                cursor: pointer;
                padding: 7% 15%;
                font-size: 12px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #333333;
                background-color: #FFFFFF;
                border: none;
                margin-top: 2%;
            }
            .company-content-btn:hover {
                background-color: #F9F9F9;
                transition: 0.5s;
            }
        }
    }
    .main-tasks {
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        .tasks-top-text {
            font-size: 64px;
            line-height: 64px;
            color: #BDBDBD;
            margin-bottom: 60px;
        }
        .tasks-content {
            display: flex;
            .task-container-content {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-around;
                .content-text1, .content-text2 {
                    display: flex;
                    width: 40%;
                    align-items: center;
                    .task-number {
                    font-size: 200px;
                    color: #F2F2F2;
                    font-weight: 900;
                    margin-right: 5%; 
                    }
                    .task-text {
                    font-size: 22px;
                    line-height: 36px;
                    color: #333333;
                    }
                }.content-text2 {
                    justify-content: flex-end;
                }
            }
        }
    }
    .proects {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        .proects-top-text {
            font-size: 64px;
            line-height: 64px;
            color: #BDBDBD;
            margin-bottom: 60px;
        }
        .proects-content {
            display: flex;
            flex-wrap: wrap;
            .proects-centr {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .centr-container {
                    background-repeat: no-repeat;
                    background: 
                    linear-gradient(
                        rgba(33, 33, 33, 0.7), 
                        rgba(33, 33, 33, 0.7)
                      ), url('../image/proects-background.png');
                    display: flex;
                    padding: 2% 4%;
                    flex-direction: column;
                    align-items: center;
                    .centr-text {
                        font-weight: bold;
                        font-size: 64px;
                        line-height: 64px;
                        color: #FFFFFF;
                        padding: 4%;
                        display: flex;
                        flex-direction: column;
                        align-items: baseline;
                        .centr-btn {
                            margin-top: 3%;
                            margin-bottom: 2%;
                            font-size: 12px;
                            line-height: 12px;
                            letter-spacing: 0.2em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                        }
                    }   
                }
            }
            .content-images {
                display: flex;
                margin-top: 2%;
                width: 100%;
                justify-content: space-evenly;
            }
        }
        .proects-bottom-btn {
            margin-top: 2%;
            display: flex;
            justify-content: flex-end;
            .bottom-btn {
                cursor: pointer;
                padding: 1.7% 3%;
                font-size: 12px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #FFFFFF;
                background-color: #333333;
                border: none;
                width: 15%;
            }
            .bottom-btn:hover {
                color: #333333;
                background-color: #FFFFFF;
                transition: 0.5s;
                border: 1px #333333 solid;
            }
        }
    }
    .connection {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 120px;
        .connection-top-text {
            font-size: 64px;
            line-height: 64px;
            color: #BDBDBD;
            margin-bottom: 60px;
        }
        .connection-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .form {
                width: 37%;
                form {
                    display: flex;
                    flex-direction: column;
                    .form-control {
                        width: 90%;
                        background-color:  #F3F3F3;
                        margin-bottom: 1%;
                        border: none;
                        padding: 3% 2%;
                    }
                    .message {
                        padding-bottom: 19%;
                    }
                }
                .form-text {
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.03em;
                    color: #333333;
                    padding: 4% 5%;
                    width: 70%;
                }
                .form-btn {
                    cursor: pointer;
                    padding: 5% 8%;
                    font-size: 12px;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background-color: #333333;
                    border: none;
                    width: 40%;
                }
                .form-btn:hover{
                    color: #333333;
                    background-color: #FFFFFF;
                    transition: 0.5s;
                    border: 1px #333333 solid;
                }
            }
            .connection-image {
                width: 60%;
            }
        }
    }
}

footer {
    width: 100%;
    margin: 0 auto;
    background-color:  #2C2C2C;
    color: #FFFFFF;
    .footer-bottom-border {
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
        .footer-container {
        max-width: 85%;
        margin: 0 auto;
        display: flex;
        padding-top: 5%;
        padding-bottom: 5%;
        justify-content: space-between;
       .footer-information {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            nav {
                display: flex;
                flex-direction: column;
                margin-top: 15%;
                a {
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
                color: #FFFFFF;
                margin-bottom: 15%;
                font-weight: normal;
                }
                a:hover {
                    color: #BDBDBD;
                    transition: 0.5s;
                }
            }
            
        }
        .footer-contacts {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            nav {
                display: flex;
                flex-direction: column;
                margin-top: 10%;
                a {
                font-size: 14px;
                line-height: 24px;
                text-decoration: none;
                color: #FFFFFF;
                margin-bottom: 15%;
                font-weight: normal;
                img {margin-right: 2%;}
                }
                a:hover {
                    color: #BDBDBD;
                    transition: 0.5s;
                }
            }   
        }
        .footer-social {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            margin-right: 2%;
            .sites {
                margin-top: 15%;
                display: flex;
                a {
                    margin-right: 25%;
                }
            }
        }
    }

}
.digital {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding: 1.5%;
}

}
    

@media (max-width: 1365px) {
    .centr-container {
        width: 40%;
    }
    .content-images {
        justify-content: space-between;
        .img1 {width: 50%;}
        .img2 {width: 25%;}
        .img3 {width: 40%;}
        .img4 {width: 25%;}
    }
    
    
}