html {
  font-family: 'TT Hoves';
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
}

header {
  width: 85%;
  margin: 0 auto;
}

header .top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 2%;
}

header .top-logo .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

header .top-logo .navbar a {
  margin-right: 8%;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  text-decoration: none;
  padding: 0.3%;
  font-weight: normal;
}

header .top-logo .navbar a:hover {
  border-top: 1px #333333 solid;
  border-bottom: 1px #333333 solid;
}

main {
  width: 85%;
  margin: 0 auto;
}

main .top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .top-banner .top-banner-content {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .top-banner .top-banner-content .project {
  font-size: 64px;
  color: #BDBDBD;
  text-transform: uppercase;
  margin-top: 68%;
}

main .top-banner .top-banner-content .home {
  font-weight: bold;
  font-size: 64px;
  color: #333333;
  text-transform: uppercase;
}

main .top-banner .top-banner-content .buttons {
  margin-top: 15%;
  margin-bottom: 15%;
}

main .top-banner .top-banner-content .buttons .btn1 {
  margin-right: 3%;
  padding: 3%;
  border: 1px solid #F2F2F2;
  background-color: #FFFFFF;
  cursor: pointer;
}

main .top-banner .top-banner-content .buttons .btn1:hover {
  background-color: #F9F9F9;
}

main .top-banner .top-banner-content .buttons .btn2 {
  cursor: pointer;
  background-color: #F9F9F9;
  border: 1px solid #F2F2F2;
  padding: 3%;
}

main .top-banner .top-banner-content .buttons .btn2:hover {
  background-color: #FFFFFF;
}

main .top-banner .top-banner-content .numbers {
  font-size: 24px;
  line-height: 24px;
  color: #BDBDBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top-banner .top-banner-content .numbers span {
  margin-right: 5%;
}

main .top-banner .top-banner-images {
  width: 60%;
  background-image: url("../image/top-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .top-banner .top-banner-images .top-banner-btn {
  cursor: pointer;
  padding: 2.5% 6%;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  background-color: #FFFFFF;
  border: none;
  position: relative;
  margin-top: 100%;
}

main .top-banner .top-banner-images .top-banner-btn img {
  width: auto;
}

main .top-banner .top-banner-images .top-banner-btn:hover {
  background-color: #F9F9F9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .about-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFBFB;
  margin-top: 120px;
  padding: 2% 4%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .about-company .two-image {
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
}

main .about-company .two-image .absolute-image {
  margin-top: 100%;
  position: absolute;
}

main .about-company .one-image {
  margin-right: 2%;
}

main .about-company .company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .about-company .company-content .top-text {
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 3%;
}

main .about-company .company-content .center-text {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}

main .about-company .company-content .company-content-btn {
  cursor: pointer;
  padding: 7% 15%;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333333;
  background-color: #FFFFFF;
  border: none;
  margin-top: 2%;
}

main .about-company .company-content .company-content-btn:hover {
  background-color: #F9F9F9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .main-tasks {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main-tasks .tasks-top-text {
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
}

main .main-tasks .tasks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-tasks .tasks-content .task-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main-tasks .tasks-content .task-container-content .content-text1, main .main-tasks .tasks-content .task-container-content .content-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-tasks .tasks-content .task-container-content .content-text1 .task-number, main .main-tasks .tasks-content .task-container-content .content-text2 .task-number {
  font-size: 200px;
  color: #F2F2F2;
  font-weight: 900;
  margin-right: 5%;
}

main .main-tasks .tasks-content .task-container-content .content-text1 .task-text, main .main-tasks .tasks-content .task-container-content .content-text2 .task-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

main .main-tasks .tasks-content .task-container-content .content-text2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .proects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
}

main .proects .proects-top-text {
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
}

main .proects .proects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .proects .proects-content .proects-centr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .proects .proects-content .proects-centr .centr-container {
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.7)), to(rgba(33, 33, 33, 0.7))), url("../image/proects-background.png");
  background: linear-gradient(rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.7)), url("../image/proects-background.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 4%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .proects .proects-content .proects-centr .centr-container .centr-text {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

main .proects .proects-content .proects-centr .centr-container .centr-text .centr-btn {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

main .proects .proects-content .content-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .proects .proects-bottom-btn {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .proects .proects-bottom-btn .bottom-btn {
  cursor: pointer;
  padding: 1.7% 3%;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #333333;
  border: none;
  width: 15%;
}

main .proects .proects-bottom-btn .bottom-btn:hover {
  color: #333333;
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px #333333 solid;
}

main .connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

main .connection .connection-top-text {
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
  margin-bottom: 60px;
}

main .connection .connection-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .connection .connection-content .form {
  width: 37%;
}

main .connection .connection-content .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .connection .connection-content .form form .form-control {
  width: 90%;
  background-color: #F3F3F3;
  margin-bottom: 1%;
  border: none;
  padding: 3% 2%;
}

main .connection .connection-content .form form .message {
  padding-bottom: 19%;
}

main .connection .connection-content .form .form-text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #333333;
  padding: 4% 5%;
  width: 70%;
}

main .connection .connection-content .form .form-btn {
  cursor: pointer;
  padding: 5% 8%;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #333333;
  border: none;
  width: 40%;
}

main .connection .connection-content .form .form-btn:hover {
  color: #333333;
  background-color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px #333333 solid;
}

main .connection .connection-content .connection-image {
  width: 60%;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #2C2C2C;
  color: #FFFFFF;
}

footer .footer-bottom-border {
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
}

footer .footer-bottom-border .footer-container {
  max-width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bottom-border .footer-container .footer-information {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

footer .footer-bottom-border .footer-container .footer-information nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
}

footer .footer-bottom-border .footer-container .footer-information nav a {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 15%;
  font-weight: normal;
}

footer .footer-bottom-border .footer-container .footer-information nav a:hover {
  color: #BDBDBD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-bottom-border .footer-container .footer-contacts {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

footer .footer-bottom-border .footer-container .footer-contacts nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

footer .footer-bottom-border .footer-container .footer-contacts nav a {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #FFFFFF;
  margin-bottom: 15%;
  font-weight: normal;
}

footer .footer-bottom-border .footer-container .footer-contacts nav a img {
  margin-right: 2%;
}

footer .footer-bottom-border .footer-container .footer-contacts nav a:hover {
  color: #BDBDBD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .footer-bottom-border .footer-container .footer-social {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
}

footer .footer-bottom-border .footer-container .footer-social .sites {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom-border .footer-container .footer-social .sites a {
  margin-right: 25%;
}

footer .digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  padding: 1.5%;
}

@media (max-width: 1365px) {
  .centr-container {
    width: 40%;
  }
  .content-images {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .content-images .img1 {
    width: 50%;
  }
  .content-images .img2 {
    width: 25%;
  }
  .content-images .img3 {
    width: 40%;
  }
  .content-images .img4 {
    width: 25%;
  }
}
/*# sourceMappingURL=styles.css.map */