html {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #354657
}

h2 {
    margin-left: 20%;
}

.container {
    width: 70%;
    border-top: 1px solid #E2E2E2;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
}

.order_details {
    width: 100%;
}

.text,
.text2 {
    background-color: #F0F2F5;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 20px;
    margin-top: 40px;
}

.column {
    display: flex;
}

.column_left {
    padding: 20px;
    font-size: 16px;
}

.column_left div {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

.column_left div span {
    font-weight: normal;
    margin-left: 2px;
}

.column_right {
    padding: 20px 0;
    font-size: 16px;
    margin-left: 306px;
}

.column_right div {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

.column_right div span {
    font-weight: normal;
    margin-left: 2px;
}

.information {
    width: 100%;
}

.text2 {
    width: 96%;
    margin-top: 0px;
}

.text2 span {
    margin-left: 298px;
}

.column_left2 {
    padding: 20px;
    font-size: 16px;
}

.column_left2 div,
.column_right2 div {
    padding-top: 7px;
    padding-bottom: 7px;
}

.column_right2 {
    padding: 20px 0;
    font-size: 16px;
    margin-left: 352px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #F0F2F5;
    text-transform: uppercase;
    font-size: 14px;
    height: 41px;
}

thead th {
    text-align: left;
    padding: 10px 20px;
}

tbody tr td {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 16px;
}

tfoot tr td {
    text-align: right;
    padding: 10px 20px;
    background-color: #F0F2F5;
    font-size: 14px;
}

tfoot {
    background-color: #F0F2F5;
    width: 100%;
}

.button {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 174px;
    height: 41px;
    background-color: white;
    color: #946FD3;
    font-size: 16px;
    font-weight: bold;
}

.button:active,
.button2:active {
    background-color: #946FD3;
    color: white;
    border-color: white;
    transition: all .3s;
}

.bold {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.button2 {
    border-radius: 50px;
    border: 2px solid #946FD3;
    width: 206px;
    background-color: white;
    color: #946FD3;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    margin-top: 70px;
}

.navigation {
    margin-top: 40px;
    margin-left: 72px;
    width: 16%;
}

.navigation a {
    display: block;
    background-color: #F0F2F5;
    text-decoration: none;
    color: #354657;
    padding: 20px 20px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 16px;
    font-weight: bold;
}

.navigation a:hover {
    color: #C2C2C6;
}