html {
    background-color: black
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.btn {
    width: 300px;
    height: 200px;
    border: 5px solid white;
    border-radius: 20%;
    background-color: black;
    font-size: 23px;
    color: white;
    font-weight: bold;
}

.circles {
    border-radius: 50%;
    margin: 1%;
    border: 5px solid white;
}