html {
    font-family: 'Raleway', sans-serif;
    color: #354657
}

h2 {
    margin-left: 20%;
}

.container {
    width: 70%;
    margin-left: 15%;
    border-top: 1px solid #E2E2E2;
}

.content {
    display: flex;
}

.sorting {
    font-weight: bold;
    position: relative;
    margin-left: 75%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.left_menu {
    width: 269px;
    height: 667px;
    padding: 20px;
    margin-right: 31px;
    border: 3px solid #EEE8F8;
}

.left_menu_heading {
    font-size: 24px;
    font-weight: bold;
}

details div {
    padding: 9px;
}

summary {
    list-style: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.5rem;
}

.summary2 {
    margin-top: 49px;
}

.button {
    padding: 4px;
    border-radius: 5px;
    background-color: #946FD3;
    color: white;
    position: relative;
    left: 160px;
    top: -20px;
    border-style: none;
    cursor: pointer;
}

.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1%;
}

.name {
    font-weight: bold;
    margin-bottom: 26px;
}

.catalog>div {
    border: 1px solid #E0E0E0;
    text-align: center;
    padding: 15px 10px;
}

.catalog img {
    width: 90%;
}

.button2 a {
    width: 130px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 70px;
    margin-left: 38%;
    color: #946FD3;
    border: 3px solid #946FD3;
    border-radius: 50px;
    padding: 20px 40px;
    font-weight: bold;
}